name: Coverage

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
concurrency:
  group: coverage
  cancel-in-progress: false
jobs:
  upload:
    name: Upload Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
          version: 9
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: pnpm
      - run: pnpm install
      - run: pnpm run coverage
      - uses: coverallsapp/github-action@v2
