name: Documentation

on:
  push:
    branches: [main]
concurrency:
  group: docs
  cancel-in-progress: false
jobs:
  build_docs:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
          version: 9
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: pnpm
      - run: pnpm install
      - run: pnpm run docs
      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs/
  deploy_docs:
    name: Deploy documentation to GitHub Pages
    runs-on: ubuntu-latest
    needs: build_docs
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
