name: Review

on:
  pull_request:
    branches: [main]
jobs:
  commits:
    name: Lint commit messages
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@v6
      - uses: wagoid/commitlint-github-action@v6
  typecheck:
    name: Typecheck code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
          version: 9
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: pnpm
      - run: pnpm install
      - run: pnpm typecheck
